<!doctype html>
<html class="no-js" lang="zxx">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Environmental</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <style>
    div#content {background:url('static/assets/img/main_bg.png') no-repeat; height:1100px; background-position:center;}
    div#content div#content div.section {min-height:900px; }

    div#content div.pageDiv {width:1100px; height:600px; background:white; position:absolute; background-position:center; top:350px; left:200px; border-radius:30px;}
    div#content div.pageDiv div.inputZone {margin-top:55px; margin-left:60px; font-weight:700px; }

    table {width: 95%;border-collapse: collapse;}
    th, td {border: 1px solid gray; padding: 10px;}
    .btn-size {width:95%}
    </style>
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="">Home</a></li>
<!--                                                <li><a href="about.html">About</a></li>-->
<!--                                                <li><a href="what-do.html">What we Do</a></li>-->
<!--                                                <li><a href="projects.html">Projects</a></li>-->
                                                <li><a href="blog">지역별 온실가스</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog#map">지역별 온실가스</a></li>
                                                        <li><a href="blog#news">뉴스 분석</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="blog_details">기업별 온실가스</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog_details#map">기업별 온실가스</a></li>
                                                        <li><a href="blog_details#search">기업별 검색</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-20">
                                        <a href="elements" class="btn header-btn">탄소 계산기</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <div id="content">
            <div class="section">
                <div class="pageDiv">
                    <div class="inputZone">
                        <form name="search" action="/calculator_option" method="GET">
                            <table>
                                <thead>
                                <tr>
                                    <th width="27%" style="background-image:url(./static/assets/img/elements/메뉴_머신러닝.png); background-size:100%; background-repeat:no-repeat; background-position:bottom center; border:hidden;">&emsp;</th>
                                    <th width="42%" style="background-image:url(./static/assets/img/elements/메뉴_옵션.png); background-size:100%; background-repeat:no-repeat; background-position:bottom center; border:hidden;">&emsp;</th>
                                    <th width="31%" style="background-image:url(./static/assets/img/elements/메뉴_설명.png); background-size:100%; background-repeat:no-repeat; background-position:bottom center; border:hidden;">&emsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td height="55px"  bgcolor="#DDECCA" style="border:hidden; background-image:url(./static/assets/img/elements/index_loc.png); background-size:100%; background-repeat:no-repeat; background-position:center;"></td>
                                    <td>
                                        <select type="text" class="form-control-sm" name="sido" id="sido" style="width:150px;">
                                        <option value='' selected>&emsp;&emsp;&emsp;&emsp;-- 선택 --&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='강원도'>강원도&emsp;&emsp;&emsp;</option>
                                        <option value='경기도'>경기도&emsp;&emsp;&emsp;</option>
                                        <option value='경상남도'>경상남도&emsp;&emsp;</option>
                                        <option value='경상북도'>경상북도&emsp;&emsp;</option>
                                        <option value='광주광역시'>광주광역시&emsp;</option>
                                        <option value='대구광역시'>대구광역시&emsp;</option>
                                        <option value='대전광역시'>대전광역시&emsp;</option>
                                        <option value='부산광역시'>부산광역시&emsp;</option>
                                        <option value='서울특별시'>서울특별시&emsp;</option>
                                        <option value='세종특별자치시'>세종특별자치시</option>
                                        <option value='울산광역시'>울산광역시&emsp;</option>
                                        <option value='전라남도'>전라남도&emsp;&emsp;</option>
                                        <option value='전라북도'>전라북도&emsp;&emsp;</option>
                                        <option value='제주특별자치도'>제주특별자치도</option>
                                        <option value='충청남도'>충청남도&emsp;&emsp;</option>
                                        <option value='충청북도'>충청북도&emsp;&emsp;</option>
                                        </select>
                                    </td>
                                    <td>17개 시/도 중 선택</td>
                                </tr>
                                <tr>
                                    <td height="55px" bgcolor="#DDECCA" style="border:hidden; background-image:url(./static/assets/img/elements/index_business.png); background-size:100%; background-repeat:no-repeat; background-position:center;">&emsp;</td>
                                    <td>
                                        <select type="text" class="form-control-sm" name="ind" id="ind">
                                        <option value='' selected>&emsp;&emsp;&emsp;&emsp;-- 선택 --&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='primary'>농림어업&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='mining'>광업 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='manufacture'>제조업&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='energy'>발전에너지, 수도사업</option>
                                        <option value='recycle'>폐기물 및 재생사업&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='building'>건설업&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='retail'>도매및 소매업&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='transportation'>운수업&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        </select>
                                    </td>
                                    <td>8개 업종 중 선택</td>
                                </tr>
                                <tr>
                                    <td height="55px" bgcolor="#DDECCA" style="border:hidden; background-image:url(./static/assets/img/elements/index_energysource.png); background-size:100%; background-repeat:no-repeat; background-position:center;">&emsp;</td>
                                    <td>
                                    <select type="text" class="form-control-sm" name="user_select_energy" id="user_select_energy">
                                        <option value='' selected>&emsp;&emsp;&emsp;&emsp;-- 선택 --&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='전기'>전기&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='전력'>전력&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='도시가스(LNG)'>도시가스(LNG)&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='증기'>증기&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='벙커 A,B,C유'>벙커 A,B,C유&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='천연가스(LNG)'>천연가스(LNG)</option>
                                        <option value='부생연료유1,2호'>부생연료유1,2호&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='프로판'>프로판&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='도시가스(LPG)'>도시가스(LPG)&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='B-A,B,C유'>B-A,B,C유 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='유연탄'>유연탄&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='등유'>등유&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='무연탄'>무연탄&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='온수'>온수</option>
                                        <option value='경유'>경유&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='석유코크스'>석유코크스&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='신탄'>신탄</option>
                                    </select>
                                    </td>
                                    <td>17개 세부에너지 선택</td>
                                </tr>
                                <tr>
                                    <td height="55px" bgcolor="#DDECCA" style="border:hidden; background-image:url(./static/assets/img/elements/index_reduce.png); background-size:100%; background-repeat:no-repeat; background-position:center;">&emsp;</td>
                                    <td>
                                        <select type="text" class="form-control-sm" name="saving_technology" id="saving_technology">
                                        <option value='' selected>&emsp;&emsp;&emsp;&emsp;-- 선택 --&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='탄소감축'>탄소감축&emsp;&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='연료절감'>연료절감&emsp;&emsp;&emsp;&emsp;</option>
                                        <option value='전력절감'>전력절감&emsp;&emsp;&emsp;&emsp;</option>
                                    </select>
                                    </td>
                                    <td>3개 우선순위 중 선택</td>
                                </tr>
                                <tr>
                                    <td height="55px" bgcolor="#DDECCA" style="border:hidden; background-image:url(./static/assets/img/elements/index_electric.png); background-size:100%; background-repeat:no-repeat; background-position:center;">&emsp;</td>
                                    <td><input type='number' name='elec' id='elec' onkeyup='call2()'> kWh/년</td>
                                    <td>정수형태의 숫자 입력</td>
                                </tr>
                                <tr>
                                    <td height="55px" bgcolor="#DDECCA" style="border:hidden; background-image:url(./static/assets/img/elements/index_co2.png); background-size:100%; background-repeat:no-repeat; background-position:center;">&emsp;</td>
                                    <td colspan="2"><input type='number' name='co2' id='co2' readonly > Kg</td>
                                </tr>
                                <tr>
                                    <td height="55px" bgcolor="#DDECCA" style="border:hidden; background-image:url(./static/assets/img/elements/index_tree.png); background-size:100%; background-repeat:no-repeat; background-position:center;">&emsp;</td>
                                    <td colspan="2"><input type='number' name='tree' id='tree' readonly > 그루</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="button-group-area">
								<br><input type="submit" value="확인" class="btn btn-size" onclick="location='/calculator_option'">
							</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-wrapper">
           <!-- Footer Start-->
           <div class="footer-area footer-padding">
               <div class="container ">
                   <div class="row justify-content-between">
                       <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
                           <div class="single-footer-caption mb-50">
                               <div class="single-footer-caption mb-30">
                                   <!-- logo -->
                                   <div class="footer-logo mb-35">
                                       <a href="index.html"><img src="{% static 'assets/img/logo/logo2_footer.png' %}" alt=""></a>
                                   </div>
                                   <div class="footer-tittle">
                                       <div class="footer-pera">
                                           <p>The automated process starts as soon as your clothes go into the machine.</p>
                                       </div>
                                   </div>
                                   <!-- social -->
                                   <div class="footer-social">
                                       <a href="#"><i class="fab fa-twitter"></i></a>
                                       <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                       <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                           <div class="single-footer-caption mb-50">
                               <div class="footer-tittle">
                                   <h4>Reference</h4>
                                   <ul>
                                       <li><a style="font-size:13px;" href="https://www.kiep.go.kr/gallery.es?mid=a10102010000&bid=0002&list_no=9608&act=view">KIEP, '탄소중립 대응 방향'</a></li>
                                       <li><a style="font-size:13px;" href="https://assets.kpmg/content/dam/kpmg/xx/pdf/2020/11/towards-net-zero.pdf">KPMG, 'Towards Net Zero'</a></li>
                                       <li><a style="font-size:13px;" href="https://www.pwc.com/kr/ko/publications/research-insights/samilpwc_the-state-of-climate-tech.pdf">PwC삼일, '기후기술 보고서'</a></li>
                                       <li><a style="font-size:13px;" href="https://www.kosif.org/wp-content/uploads/2021/05/CDP-2020-%EA%B5%AD%EB%AC%B8%EB%B3%B4%EA%B3%A0%EC%84%9C_optimize.pdf">EY한영, 'ESG, 탄소중립'</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                       <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                           <div class="single-footer-caption mb-50">
                               <div class="footer-tittle">
                                   <h4>Our Team</h4>
                                   <ul>
                                       <li><a href="https://github.com/creamcheesesteak">임태혁</a></li>
                                       <li><a href="https://github.com/kaya1436">신채원</a></li>
                                       <li><a href="https://github.com/rcm2000">노청명</a></li>
                                       <li><a href="https://github.com/yoonputer">복정훈</a></li>
                                       <li><a href="https://github.com/SolbiChoi">최솔비</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                       <div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
                           <div class="single-footer-caption mb-50">
                               <div class="footer-tittle">
                                   <h4>Contact us</h4>
                                   <ul>
                                       <li><a href="https://github.com/creamcheesesteak/Project_Guardians">Project Github</a></li>
                                       <li><a href="#">K-Digital, Final Project 5조</a></li>
                                       <li><a href="#">Privacy Policy</a></li>
                                       <li class="number"><a href="#">Tel</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- footer-bottom area -->
           <div class="footer-bottom-area">
               <div class="container">
                   <div class="footer-border">
                       <div class="row d-flex align-items-center">
                           <div class="col-xl-12 ">
                               <div class="footer-copy-right text-center">
                                   <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Footer End-->
          </div>
      </footer>
      <!-- Scroll Up -->
      <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
    <script src="{% static 'assets/js/cal.js' %}"></script>
    <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/animated.headline.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static 'assets/js/gijgo.min.js' %}"></script>
    <!-- Nice-select, sticky -->
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
    <!-- Progress -->
    <script src="{% static 'assets/js/jquery.barfiller.js' %}"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/hover-direction-snake.min.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'assets/js/contact.js' %}"></script>
    <script src="{% static 'assets/js/jquery.form.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/mail-script.js' %}"></script>
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>